
.whiteStyle {
  min-height: 700px;
  padding: 20px 300px;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
}

.blackStyle {
  min-height: 700px;
  padding: 20px 300px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}